@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.15);
  border-radius: 999px;
  border: 2px solid rgba(255,255,255,0.6);
}
*::-webkit-scrollbar-track {
  background: transparent;
}
